<nav class="navbar navbar-expand-md bg-light">
  <div class="container-fluid d-flex align-items-center">
    <a class="navbar-brand" href="#">
      <img style="height: 5rem" src="../../../assets/angular.svg" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/componentinteraction"
          >
            Component Interaction
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/directives">
            Directives
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/componentinteraction"
          >
            Pipes
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/componentinteraction"
          >
            Services
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
